<div class="contenedor p-5">

  <div class="row">
    <div class="col-5 producto-foto">
      <img src="<%= cl_image_path(@product.producto_url.key) %>" class="card-img-top">
    </div>
    <div class="col-7">
      <div class="detalles-texto m-5 h-75">
        <h5 class="card-title"><%= @product.title %></h5>
        <p class="card-text"><%= @product.description %></p>
        <p class="precio">$<%= @product.price %></p>
        <a href="#" class="btn btn-primary">Añadir al carro</a>
      </div>
    </div>
  </div>

</div>
