<div class="container mt-5 d-flex justify-content-center">
  <div class="card" style="width: 18rem;">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title"><%= @product.title %></h5>
      <p class="card-text"><%= @product.description %></p>
      <p class="card-text"><%= @product.price %></p>
      <a href="#" class="btn btn-primary">Añadir al carro</a>
    </div>
  </div>
</div>
